Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

d.pingdownloader:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdownloader

b.apache-jmeter:
  stage: products
  script:
  - ci_scripts/build_product.sh --product apache-jmeter

t.apache-jmeter:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product apache-jmeter

d.apache-jmeter:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product apache-jmeter

b.ldap-sdk-tools:
  stage: products
  script:
  - ci_scripts/build_product.sh --product ldap-sdk-tools

t.ldap-sdk-tools:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product ldap-sdk-tools
  variables:
    KUBERNETES_CPU_REQUEST: 1
    KUBERNETES_CPU_LIMIT: 1
    KUBERNETES_MEMORY_REQUEST: 2000000000
    KUBERNETES_MEMORY_LIMIT: 2000000000

d.ldap-sdk-tools:
  stage: deploy
  script:
  - VERBOSE=true ci_scripts/deploy_product_to_registry.sh --product ldap-sdk-tools

b.pingaccess:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingaccess

t.pingaccess:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingaccess

d.pingaccess:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingaccess

b.pingcentral:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingcentral

t.pingcentral:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingcentral

d.pingcentral:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingcentral

b.pingdirectory:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectory

t.pingdirectory:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectory
  variables:
    KUBERNETES_CPU_REQUEST: 3
    KUBERNETES_CPU_LIMIT: 3
    KUBERNETES_MEMORY_REQUEST: 4000000000
    KUBERNETES_MEMORY_LIMIT: 4000000000

d.pingdirectory:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdirectory

b.pingdirectoryproxy:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectoryproxy

t.pingdirectoryproxy:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectoryproxy

d.pingdirectoryproxy:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdirectoryproxy

b.pingdelegator:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdelegator

t.pingdelegator:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdelegator

d.pingdelegator:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdelegator

b.pingdataconsole:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdataconsole

t.pingdataconsole:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdataconsole

d.pingdataconsole:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdataconsole

Update deploy_docs to include PingIntelligence
  ci_scripts/deploy_docs.sh
  pingdelegator/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-569: Add Docker Login to Before Script
  ci_scripts/before_script.sh
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-569: Add Docker Login to Before Script
  ci_scripts/ci_tools.lib.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-368 Adding in default ldap, oidc, oauth2 and run properties as well as a few ENV variables for pingfederate image
  pingfederate/Dockerfile
  pingfederate/opt/server/default/conf/template/heartbeat.page.template.subst.default
  pingfederate/opt/staging/instance/bin/ldap.properties.subst.default
  pingfederate/opt/staging/instance/bin/oauth2.properties.subst.default
  pingfederate/opt/staging/instance/bin/oidc.properties.subst.default
  pingfederate/opt/staging/instance/bin/run.properties.subst.default
Due: b.pingaccess, t.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

Update run.sh script to suppress warning that was being displayed on startup
  pingcentral/opt/staging/instance/bin/run.sh
Due: b.pingcentral, t.pingcentral, d.pingcentral

Add support for setting up the PDG PAP in OpenID Connect mode
  pingcommon/opt/staging/deprecated-variables.json
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
  pingdatagovernancepap/opt/staging/hooks/80-post-start.sh
  pingdatagovernancepap/opt/staging/hooks/pingdatagovernancepap.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-458: Produce Message When Server Profile URLs Not Present
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-578: Update URL for PingCentral Snapshot Bits
  pingdownloader/get-snapshots.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit

Re-design of vault secrets and how they are pulled and processed
  .gitlab-ci.yml
  pingcommon/opt/entrypoint.sh
  pingcommon/opt/staging/hooks/01-start-server.sh
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingcommon/opt/staging/hooks/05-expand-templates.sh
  pingcommon/opt/staging/hooks/08-get-secrets.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
  pingcommon/opt/staging/hooks/pingsecrets.lib.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Adding proxy support to builds
  ci_scripts/build_product.sh
  ci_scripts/serial_build.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Debug
  ci_scripts/build_product.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

proxy for foundation
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

proxy for downloader
  ci_scripts/build_downloader.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

proxy for downloader
  ci_scripts/serial_build.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

proxy for build
  ci_scripts/build_product.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-583 Adding jvm back into pingtoolkit
  pingtoolkit/Dockerfile
Due: b.pingtoolkit, t.pingtoolkit, d.pingtoolkit

gdo-592 - sourciing get_secrets_envs as part of source of pingcommon.lib.sh
  pingcommon/opt/staging/hooks/05-expand-templates.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-592 - Remove extra print statement about sourcing of secrets. Better to not provide that message for every source of pingcommon.lib
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Update pingdatagovernancepap for 8.2.0.0-GA
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/opt/liveness.sh-pre-82ga
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
  pingdatagovernancepap/opt/staging/hooks/80-post-start.sh
  pingdatagovernancepap/opt/staging/hooks/pingdatagovernancepap.lib.sh
  pingdatasync/opt/staging/hooks/03-build-run-plan.sh
  pingdatasync/opt/staging/hooks/90-shutdown-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

gdo-599 using 127.0.0.1 rather than localhost due to nc (busybox) support
  pingaccess/opt/staging/hooks/80-post-start.sh
  pingdatagovernancepap/opt/staging/hooks/80-post-start.sh
  pingfederate/opt/staging/hooks/80-post-start.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest, pa-cluster.latest

Convert EULA to lowercase for acceptance check
  pingcommon/opt/staging/hooks/17-check-license.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Handle RC in version qualifier
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Prevent post start error message
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdatasync/opt/staging/hooks/80-post-start.sh
  pingdirectory/opt/staging/hooks/80-post-start.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Update pingdatagovernancepap conditionals for RC
  pingdatagovernancepap/opt/staging/hooks/183-run-setup.sh
Due: b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap

Fix typo devops-pupose
  pingcommon/common-build.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-606 and GDO-607 - Changing up "cp -a" to "cp -R" which will stop enforcing file ownership/attributes on copy
  apache-jmeter/Dockerfile
  ci_scripts/build_downloader.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/run_integration.sh
  integration_tests/dg-8001.test.yml
  integration_tests/pa-cluster.latest.test.yml
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pd-replicated.latest.test.yml
  integration_tests/pdg-pd.latest.test.yml
  integration_tests/pdp-pd.latest.test.yml
  integration_tests/pds-pd.latest.test.yml
  integration_tests/pi-basic.test.yml
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingcentral/Dockerfile
  pingcommon/Dockerfile
  pingcommon/opt/staging/hooks/02-get-remote-server-profile.sh
  pingcommon/opt/staging/hooks/06-copy-product-bits.sh
  pingcommon/opt/staging/hooks/21-update-server-profile.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
  pingdatacommon/Dockerfile
  pingdatacommon/opt/staging/hooks/21-update-server-profile.sh
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
  pingdirectoryproxy/Dockerfile
  pingdownloader/Dockerfile
  pingfederate/Dockerfile
  pingintelligence/Dockerfile
  pingjvm/Dockerfile
  pingtoolkit/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-611: Build and Release PingFederate 10.1.3
  pingdownloader/gte-bits-repo.json
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, pa-pf-pd.latest

Specify registry for docker service image
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-612 - Adjust memory for pingdirectory integration tests
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/pd-replicated.latest.test.yml
  integration_tests/pdg-pd.latest.test.yml
  integration_tests/pdp-pd.latest.test.yml
  integration_tests/pds-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingdirectoryproxy, b.pingdatasync, b.pingdatagovernance, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Include docs necessary for PingData Swagger UI
  pingdatagovernance/Product-staging
  pingdirectory/Product-staging
  pingdirectoryproxy/Product-staging
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Replace reference to ARTIFACTORY_REGISTRY_MIRROR
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-457 Update "docker run" and "docker exec" examples
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingcentral/Dockerfile
  pingcentral/README.md
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingdownloader/Dockerfile
  pingfederate/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-531: Push Master-Builds Images to Artifactory
  ci_scripts/aws_tools.lib.sh
  ci_scripts/before_script.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/cleanup_failure.sh
  ci_scripts/deploy_product_to_registry.sh
  registries.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-531: Push Master-Builds Images to Artifactory
  ci_scripts/ci_tools.lib.sh
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-616: Running Smoke Test Locally Reaching Memory Limit
  pingaccess/tests/build.test.yml
  pingdataconsole/tests/build.test.yml
  pingdatagovernance/tests/build.test.yml
  pingdatagovernancepap/tests/build.test.yml
  pingdatasync/tests/build.test.yml
  pingdelegator/tests/build.test.yml
  pingdirectory/tests/_s2-custom-non-root.test.yml
  pingdirectoryproxy/tests/build.test.yml
  pingfederate/tests/build.test.yml
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, pingdatagovernance/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectoryproxy: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectoryproxy: any of: pingbase/**/*, pingdownloader/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectoryproxy: any of: pingdirectoryproxy/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdelegator: any of: pingdelegator/**/*, pingbase/**/*, pingcommon/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, pingdirctory/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernance: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernancepap: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernancepap/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pd-repl.latest: any of: integration_tests/**/pd-replicated*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  dg-8001: any of: integration_tests/**/dg-8001*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-pf-pd.latest: any of: integration_tests/**/pa-pf-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pds-pd.latest: any of: integration_tests/**/pds-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdp-pd.latest: any of: integration_tests/**/pdp-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdg-pd.latest: any of: integration_tests/**/pdg-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-cluster.latest: any of: integration_tests/**/pa-cluster*, pingbase/**/*, pingcommon/**/*, pingaccess/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
