Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

d.pingdownloader:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdownloader

b.apache-jmeter:
  stage: products
  script:
  - ci_scripts/build_product.sh --product apache-jmeter

t.apache-jmeter:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product apache-jmeter

d.apache-jmeter:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product apache-jmeter

b.ldap-sdk-tools:
  stage: products
  script:
  - ci_scripts/build_product.sh --product ldap-sdk-tools

t.ldap-sdk-tools:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product ldap-sdk-tools
  variables:
    KUBERNETES_CPU_REQUEST: 1
    KUBERNETES_CPU_LIMIT: 1
    KUBERNETES_MEMORY_REQUEST: 2000000000
    KUBERNETES_MEMORY_LIMIT: 2000000000

d.ldap-sdk-tools:
  stage: deploy
  script:
  - VERBOSE=true ci_scripts/deploy_product_to_registry.sh --product ldap-sdk-tools

b.pingaccess:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingaccess

t.pingaccess:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingaccess

d.pingaccess:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingaccess

b.pingcentral:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingcentral

t.pingcentral:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingcentral

d.pingcentral:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingcentral

b.pingdirectory:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectory

t.pingdirectory:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectory
  variables:
    KUBERNETES_CPU_REQUEST: 3
    KUBERNETES_CPU_LIMIT: 3
    KUBERNETES_MEMORY_REQUEST: 4000000000
    KUBERNETES_MEMORY_LIMIT: 4000000000

d.pingdirectory:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdirectory

b.pingdirectoryproxy:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectoryproxy

t.pingdirectoryproxy:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectoryproxy

d.pingdirectoryproxy:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdirectoryproxy

b.pingdelegator:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdelegator

t.pingdelegator:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdelegator

d.pingdelegator:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdelegator

b.pingdataconsole:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdataconsole

t.pingdataconsole:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdataconsole

d.pingdataconsole:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdataconsole

add module with the JMX agent [skip tests]
  pingjvm/build-jvm.sh
Due: b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

update tomcat and ldap sdk
  ldap-sdk-tools/versions.json
  pingdataconsole/versions.json
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole

fix endless loop
  integration_tests/pa-pf-pd.postman_collection.json
Due: b.pingaccess, b.pingdirectory, b.pingdirectoryproxy, b.pingdatasync, b.pingdatagovernance, b.pingfederate, pa-pf-pd.latest

update to 5.1.3 [skip tests]
  ldap-sdk-tools/versions.json
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools

update PD to 6.1.0.2 and delegator to 4.4.0
  pingdelegator/versions.json
  pingdirectory/versions.json
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

fix typo LD_PRELOAD_34
  pingdatacommon/opt/server/lib/_script-util.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-625: Build & Release PingAccess 6.2.0
  pingaccess/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, pa-pf-pd.latest, pa-cluster.latest

Resolve GDO-627 "Fix pf bulk json hook"
  pingfederate/opt/staging/hooks/85-import-configuration.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

GDO-628: Build PingFederate 10.2
  pingdownloader/gte-bits-repo.json
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, pa-pf-pd.latest

GDO-631: Build PingCentral 1.6.0
  pingcentral/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit

Update URLs to point to new doc service, general clean up and consistency
  LICENSE.md
  README.md
  ci_scripts/deploy_docs.sh
  ldap-sdk-tools/README.md
  pingaccess/Dockerfile
  pingaccess/README.md
  pingaccess/opt/staging/hooks/85-import-configuration.sh
  pingcentral/Dockerfile
  pingcommon/opt/staging/hooks/17-check-license.sh
  pingdataconsole/Dockerfile
  pingdataconsole/README.md
  pingdatagovernance/Dockerfile
  pingdatagovernance/README.md
  pingdatagovernancepap/README.md
  pingdatasync/Dockerfile
  pingdatasync/README.md
  pingdelegator/Dockerfile
  pingdelegator/README.md
  pingdirectory/Dockerfile
  pingdirectory/README.md
  pingdirectoryproxy/Dockerfile
  pingdirectoryproxy/README.md
  pingdownloader/README.md
  pingfederate/Dockerfile
  pingfederate/README.md
  pingintelligence/Dockerfile
  pingintelligence/README.md
  pingtoolkit/Dockerfile
  pingtoolkit/README.md
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

GDO-629: Build PingData 8.2
  .gitlab-ci.yml
  integration_tests/dg-8001.test.yml
  pingdataconsole/versions.json
  pingdatagovernance/tests/build.test.yml
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Update PD login example
  pingdataconsole/Dockerfile
Due: b.pingdataconsole, t.pingdataconsole, d.pingdataconsole

Resolve GDO-636 "Oidc typo"
  .gitlab-ci.yml
  pingfederate/opt/staging/instance/bin/oidc.properties.subst.default
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Fix image name typo
  ldap-sdk-tools/Dockerfile
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools

gdo-362 - Add check to ensure that a headless cluster service is provided when running PingDirectory
  .gitlab-ci.yml
  integration_tests/pd-replicated.postman_collection.json
  pingcommon/opt/readiness.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
  pingdatacommon/opt/readiness.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdatasync/opt/staging/hooks/80-post-start.sh
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
  pingdirectory/opt/staging/hooks/80-post-start.sh
  pingfederate/opt/staging/hooks/85-import-configuration.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

gdo-362 - Add check to ensure that a headless cluster service is provided when running PingDirectory
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Resolve GDO-643
  apache-jmeter/versions.json
  pingdownloader/gte-bits-repo.json
  pingintelligence/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit

GDO-640: Update wait-for to Use Timeout on Wait For Host:Port
  integration_tests/wait-for
  ldap-sdk-tools/wait-for
  pingcommon/opt/wait-for
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

closes GDO-637 by providing conservative log rotation and retention default for all log4j appenders
  pingfederate/Dockerfile
  pingfederate/opt/staging/instance/server/default/conf/log4j2.xml.subst.default
  pingfederate/opt/staging/instance/server/etc/jetty-runtime.xml.subst.default
Due: b.pingaccess, t.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

GDO-652: Use PF 10.1.3 as Latest for Sprint 2012
  pingfederate/versions.json
Due: b.pingaccess, t.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

GDO-660: Fix Image Deployment Rate Limit Issue
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

closes GDO-665
  pingdelegator/versions.json
Due: b.pingdelegator, t.pingdelegator, d.pingdelegator

Replace wait-for call in pingdatagovernancepap
  pingdatagovernancepap/opt/staging/hooks/80-post-start.sh
Due: b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap

GDO-660: Fix Image Deployment Rate Limit Issue
  ci_scripts/deploy_product_to_registry.sh
  pingdownloader/gte-bits-repo.json
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Clean staging directory on image startup
  pingbase/Dockerfile
  pingcommon/opt/build.sh
  pingcommon/opt/entrypoint.sh
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingcommon/opt/staging/hooks/21-update-server-profile.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/20-restart-sequence.sh
  pingdatacommon/opt/staging/hooks/21-update-server-profile.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdelegator/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdirectory/opt/staging/hooks/188-apply-configuration.sh
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Only regenerate java.properties when necessary
  pingdatacommon/Dockerfile
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/20-restart-sequence.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-675: Build PingFederate 10.1.4
  pingfederate/versions.json
Due: b.pingaccess, t.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

Don't save state files for SECRETS_DIR
  pingcommon/opt/entrypoint.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

gdo-676 - read *.env secrets from all subdirectories
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

gdo-677 Support spaces in certificate aliases and general shellcheck cleanup
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

gdo-677 Fixing shell defaulting of values
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

GDO-673: Sign and Push Images to Artifactory
  ci_scripts/ci_tools.lib.sh
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Check if SECRETS_DIR exists before sourcing
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, dg-8001, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

gdo-677 Added back mistake removal of _password
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

GDO-677 - Fix PingAccess hook for clustering
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, pingdatagovernance/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectoryproxy: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectoryproxy: any of: pingbase/**/*, pingdownloader/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectoryproxy: any of: pingdirectoryproxy/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdelegator: any of: pingdelegator/**/*, pingbase/**/*, pingcommon/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, pingdirctory/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernance: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernancepap: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernancepap/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pd-repl.latest: any of: integration_tests/**/pd-replicated*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  dg-8001: any of: integration_tests/**/dg-8001*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-pf-pd.latest: any of: integration_tests/**/pa-pf-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pds-pd.latest: any of: integration_tests/**/pds-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdp-pd.latest: any of: integration_tests/**/pdp-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdg-pd.latest: any of: integration_tests/**/pdg-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-cluster.latest: any of: integration_tests/**/pa-cluster*, pingbase/**/*, pingcommon/**/*, pingaccess/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
